/* @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');



* {
    box-sizing: border-box;
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    color: var(--primary-fontColor);
    font-family: 'Exo', sans-serif;

}

:root {
    --darkgray: rgb(33,37,41);
    --lightgray: gray;
    --primary-fontColor: cornsilk;
}

body {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Fracing-horizontal-backdrop-vector-illustration-eps-65851961.jpg&f=1&nofb=1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



h1 {
   font-size: 20px;
    text-align: center;
    background-color: var(--darkgray);
    border-radius: 10px;
    padding: 2%;
}
nav{
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}

ol, li {
    text-align: center;
}

.raceFlag {
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 1%;
    padding: 2px;
    border-radius: 100%;
}

.volumeIcon {
    margin: 1%;
}


.instructions {
    margin: 1%;
    width: 50%;
    text-align: center;
    
    /* color: var(--darkgray); */
}

.instructionsList, .instructionToggle {
    width: 40%;
    margin: 0 auto;
    text-align: left;
}
.instructionToggle {
    /* color: var(--darkgray); */
    font-size: 15px;
    /* background-color: var(--lightgray); */
}

.container {
    background-color: var(--lightgray) ;
    margin: 0 auto;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin: 1%;
    border-radius: 20px;
    width: 70%;
    text-align: center;
    display: "block"
    /* min-height: 100vh; */
}

.subContainer {

    text-align: center;
    /* margin: 0 auto; */
    margin: 1%;
    /* padding: 5%; */
    /* width: 70%; */
    background-color: var(--darkgray);
    border-radius: 10px;
}
.diffContainer {
    background-color: var(--darkgray);
    width: 17%;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 10px;
}

.score-timer {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    margin: 1%;

}

.randomWords {
    /* margin: 5%; */
    font-size: 25px;
}

.inputEl {
    font-size: 15px;
    border-radius: 25px;
    margin: 5%;
    width: 70%;
    padding: 2%;
    color: #404040;
}
#gameOver {
    font-size: 25px;
    background-color: var(--lightgray);
    top: 19rem;
    position: absolute;
    height: 50%;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    /* opacity: 0.5; */
    display: none;
}

.innerGameOver{
    background-color: var(--darkgray);
    margin: 0 auto;
    margin-top: 15%;
    min-height: 50%;
    padding: 10%;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    
    /* align-content: center; */
}


.gameBtn {
    width: 7em;
    font-size: 15px;
    margin: 2%;
    /* padding: 3%; */
    cursor: pointer;
    border-radius: 10px;
    color: var(--primary-fontColor);
    background-color: var(--lightgray);
}

#restartBtn {
    /* display: none; */
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
}

#difficulty {
    text-align: left;
    font-size: 12px;
}


@media only screen and (min-width: 1000px){
    .randomWords {
        font-size: 35px;
    }
    .innerGameOver {
        margin-top: 10%;
    }
    .gameBtn {
        width: 8rem;
        font-size: 20px;
        /* margin: 1%; */
        /* padding: 3%; */
    }
    .score-timer {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {

    h1 {
      font-size: 50px;
    }
    .score-timer {
        font-size: 25px;
    }

    .randomWords {
        font-size: 50px;
    }
    .container {
        margin-top: 0;
        max-height: 80vh;
    }

    .subContainer {
        height: 50%;
    }

    .innerGameOver {
        margin-top: 3%;
        /* height: rem; */
    }

    #gameOver{
        top: 15rem;
        left: 15rem;
        height: 60%;
        width: 75%;
    }
    /* #innerGameOver {
        text-align: center;
        padding-top: 25%;
    } */
    .inputEl {
        padding: 2%;
        font-size: 25px;
    }
    .gameBtn {
        width: 10rem;
        font-size: 20px;
        padding: 1%;
    }
    
  }